In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('income.csv')
df

,income,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week
0,0,39,State-gov,Bachelors,NotMarried,Adm-clerical,Not-in-family,White,Male,40
1,0,50,Self-emp-not-inc,Bachelors,Married,Exec-managerial,Husband,White,Male,13
2,0,38,Private,HS-grad,Separated,Handlers-cleaners,Not-in-family,White,Male,40
3,0,53,Private,11th,Married,Handlers-cleaners,Husband,Black,Male,40
4,0,28,Private,Bachelors,Married,Prof-specialty,Wife,Black,Female,40
...,...,...,...,...,...,...,...,...,...,...
26210,0,27,Private,Assoc-acdm,Married,Tech-support,Wife,White,Female,38
26211,1,40,Private,HS-grad,Married,Machine-op-inspct,Husband,White,Male,40
26212,0,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40
26213,0,22,Private,HS-grad,NotMarried,Adm-clerical,Own-child,White,Male,20
26214,1,52,Self-emp-inc,HS-grad,Married,Exec-managerial,Wife,White,Female,40

In [ ]:
df['workclass'].fillna(df['workclass'].mode()[0], inplace=True)
df['occupation'].fillna(df['occupation'].mode()[0], inplace=True)

df.isna().sum()

income            0
age               0
workclass         0
education         0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
hours-per-week    0
dtype: int64

In [ ]:
df.drop_duplicates()

,income,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week
0,0,39,State-gov,Bachelors,NotMarried,Adm-clerical,Not-in-family,White,Male,40
1,0,50,Self-emp-not-inc,Bachelors,Married,Exec-managerial,Husband,White,Male,13
2,0,38,Private,HS-grad,Separated,Handlers-cleaners,Not-in-family,White,Male,40
3,0,53,Private,11th,Married,Handlers-cleaners,Husband,Black,Male,40
4,0,28,Private,Bachelors,Married,Prof-specialty,Wife,Black,Female,40
...,...,...,...,...,...,...,...,...,...,...
26208,1,53,Private,Masters,Married,Exec-managerial,Husband,White,Male,40
26209,0,22,Private,Some-college,NotMarried,Protective-serv,Not-in-family,White,Male,40
26210,0,27,Private,Assoc-acdm,Married,Tech-support,Wife,White,Female,38
26212,0,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40
26214,1,52,Self-emp-inc,HS-grad,Married,Exec-managerial,Wife,White,Female,40

In [ ]:
education_order = [
    'Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th', '12th',
    'HS-grad', 'Some-college', 'Assoc-voc', 'Assoc-acdm', 'Bachelors', 'Masters', 'Prof-school', 'Doctorate'
]
education_mapping = {level: index + 1 for index, level in enumerate(education_order)}
df['education'] = df['education'].map(education_mapping)
df['sex'] = df['sex'].map({'Male': 0, 'Female': 1})
df = pd.get_dummies(df, columns=['marital-status', 'race', 'relationship', 'workclass', 'occupation'])

In [ ]:
from sklearn.model_selection import train_test_split

x = df.drop(columns=['income'])
y = df['income']

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1, random_state=123)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

norm = MinMaxScaler().fit(x_train)
x_train_norm = norm.transform(x_train)
x_test_norm = norm.transform(x_test)

In [1]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold, cross_val_score

kfold = KFold(n_splits=10, shuffle=True, random_state=2)

svm = SVC(shrinking=True)

svm_params = {
    'kernel': ['linear', 'poly', 'rbf', 'sigmoid'],
    'gamma': ['auto'],
    'C': [0.1, 0.5, 1, 100]
}

gs_svm_result = GridSearchCV(svm, svm_params, cv=kfold, n_jobs=10).fit(x_train_norm, y_train)
print(gs_svm_result.best_estimator_)

NameError: name 'x_train_norm' is not defined